header{
    color: white;
    background-color: black;
    width: auto;
    height: 50px;
}
h1{
    text-align: center;
}
section{
   display: flex;
}
section article{
    background-color: skyblue;  
}
article{
    width: 25%; 
}